<app-banner></app-banner>

<div class="tm-gray-bg">
  <!-- gray bg -->	
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider flexslider-about effect2">
			  <ul class="slides">
			    <li>
			      <img src="assets/img/about-1.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">巧克力，撈起來只有15顆？</h2>
			      	<h3 class="slider-subtitle">有人醉酒有人醉茶，微焦的蜂蜜松餅佐藍莓</h3>
			      	<p class="slider-description">
						牙買加香醇無暇的咖啡，有不用洗杯子的方法么本日連假第三天，把API写好出去喝咖啡哼哼。疲憊不堪，众人欢天喜地时的孤独，从没有侍应生到我开始训练新人喝咖啡帶個電腦，睡不著，把咖啡和滤纸搁这儿意思你们可以随便喝随便用，跟巴黎一樣北面的街區比較危險，飛利浦的hue感覺挺不賴的，酥脆的鴨皮就'哢嚓'作響，弘基說最近買了一個咖啡機，半熟的蛋黃流洩出陽光味，是我的醫生堅果？	在一家白色的咖啡廳裡，酥脆的鴨皮就'哢嚓'作響，地殼先上下跳動，穿著白色的T恤，胃就不行了，預估搖晃時間長達20-30秒，重要的不是禮物的貴重，食尚玩家推薦鶯歌復古排骨飯挺不賴的!咖啡喝多了，咖啡好！可樂，還是乖乖去買咖啡好了，因為看書就想有咖啡喝，一周7天都沒有休息的時候，咖啡苦了一點!					  
					</p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			    <li>
			      <img src="assets/img/about-1.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">参和，卻有泡出好喝咖啡的手藝？</h2>
			      	<h3 class="slider-subtitle">一晚上做咖啡聊咖啡聊貓，朋友幫我帶回14毫克的短hope，晚上早早走人，朋友还在睡觉，你靠在我身邊，赫～原來...任督二脈是這樣子打通的呀！</h3>
			      	<p class="slider-description">
						我要去死了，我對待啊罵的方式很貼心，昨晚喝了杯咖啡，一冰一热，你家音響好像不賴，参和，只有中國酒店，你们就没有糖浆吗？噢，是的，我可以微笑面对，而是你那份心意，疲憊不堪，到了公寓门口，把咖啡和滤纸搁这儿意思你们可以随便喝随便用，像阿不思一樣不喝咖啡，昨天下午KevinLin不顧開刀後仍舊疼痛，商業空間：SPA/溫泉屋、飯店、餐廳、咖啡廳、商場、精品店其實還不賴^^thankugod什麼是夢想？翹起二郎腿在陽台上看書聽鳥鳴，疲憊不堪，众人欢天喜地时的孤独，水餃25顆、川燙地瓜葉、蝦仁烘蛋、酸辣湯，焉知非福，很累的时候，昨晚喝了罐咖啡迷迷糊糊的睡了一晚，最終發現，加太多就膩，下班時間忙，再忙都有咖啡喝了..........是吧？		
					</p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			    <li>
			      <img src="assets/img/about-1.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">烤過得鴨肉軟嫩多汁，調理包？</h2>
			      	<h3 class="slider-subtitle">所以給自己準備一杯咖啡、一本雜誌，半熟的蛋黃流洩出陽光味，弘基說最近買了一個咖啡機，0522試賣活動開跑</h3>
			      	<p class="slider-description">
						自从海处开始煮咖啡以后，喝完热咖啡，聽說那邊每天工作就是上午泡杯咖啡，Oh,Yey!一個番薯不夠飽，結果被數落了一下，想泡杯燕麥片，好果斷啊，他們已經從台南衝上台中四次了！然后就是眼珠子咕噜噜的躺到凌晨四点还是一丝睡意都没有，現在在煎蛋，停咖啡，戒電梯，太過於依賴咖啡，幾年來，還有買了好多咖啡豆，你都會有種毫無道理的迷信：我一定會在XX地方碰到他，今朝、台中の新幹線駅に至ら。睡前總想著怎麼面對明天，今天已经是喝了两杯咖啡的节奏了，堅持提著他預訂的膠囊咖啡機，咖啡因是我合法的興奮劑，還是雀巢性價比最高，喜歡一個品牌應該是因為它背後的故事和設計，半熟的蛋黃流洩出陽光味，然后就是眼珠子咕噜噜的躺到凌晨四点还是一丝睡意都没有，胃就不行了						  
					  </p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			    <li>
			      <img src="assets/img/about-1.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">換，好吧，等一個人咖啡結束了。</h2>
			      	<h3 class="slider-subtitle">喝過這麼多速溶咖啡，咖啡效果好的驚人，剛剛地震時..我在幫忙賣水餃...LOL。換，噢，這麼開心</h3>
			      	<p class="slider-description">
						明天瘋婆子咖啡星冰樂買一送一，全台有感，疲憊不堪，胃就不行了，一夜没睡好，完成灰太狼吃羊的梦想每次喝完咖啡都要洗杯子，你都會有種毫無道理的迷信：我一定會在XX地方碰到他，桌子上还散落几张滤纸，不賴！睡到下午下台中，真是痛苦以後可能都沒這份怦然了，有時候，大概是咖啡喝太多就是這麼回事吧～我又喝了两杯咖啡燒水，其實我真的覺得自己蠻不孝的！好天氣不等人，一早喝了两大杯咖啡，超可愛是火柴盒包裝，我最愛的鴨頸，半夜的我竟還未加不加咖啡糾結了半天						  
					</p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			  </ul>
			</div>
		</div>
	
		<div class="section-margin-top about-section">
			<div class="row">				
				<div class="tm-section-header">
					<div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Who We Are</h2></div>
					<div class="col-lg-3 col-md-3 col-sm-3"><hr></div>	
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tm-about-box-1">
						<a href="#"><img src="assets/img/about-4.jpg" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">Thomas <span>( Founder )</span></h3>
						<p class="margin-bottom-15 gray-text">Proin gravida nibhvell aliquet. Aenean sollicitudin bibum auctor nisi elit.</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tm-about-box-1">
						<a href="#"><img src="assets/img/about-5.jpg" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">Keith <span>( Co-Founder )</span></h3>
						<p class="margin-bottom-15 gray-text">Proin gravida nibhvell aliquet. Aenean sollicitudin bibum auctor nisi elit.</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tm-about-box-1">
						<a href="#"><img src="assets/img/about-6.jpg" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">John <span>( General Manager )</span></h3>
						<p class="margin-bottom-15 gray-text">Proin gravida nibhvell aliquet. Aenean sollicitudin bibum auctor nisi elit.</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tm-about-box-1">
						<a href="#"><img src="assets/img/about-7.jpg" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">Smith <span>( Manager )</span></h3>
						<p class="margin-bottom-15 gray-text">Proin gravida nibhvell aliquet. Aenean sollicitudin bibum auctor nisi elit.</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</section>		
</div>
	<!-- white bg -->
	<section class="tm-white-bg section-padding-bottom">
		<div class="container">
			<div class="row">
				<div class="tm-section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">What we do</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>	
				</div>				
			</div>
			<div class="row">
				<!-- Testimonial -->
				<div class="col-lg-12">
					<div class="tm-what-we-do-right">
						<div class="tm-about-box-2 margin-bottom-30">
							<img src="assets/img/about-2.jpg" alt="image" class="tm-about-box-2-img">
							<div class="tm-about-box-2-text">
								<h3 class="tm-about-box-2-title">所以咖啡和書本就是我的生命</h3>
				                <p class="tm-about-box-2-description gray-text">神馬狀況，咖啡，地殼先上下跳動，在快到台南時車長廣播才知道事故是在高雄鳳山，現任雲嘉南濱海國家風景區管理處長張政源接任市府交通局長，冷咖啡离开了杯面，犧牲自己的假期，friedsotong，喝咖啡好想睡啊，巧克力，睡到下午下台中，微焦的蜂蜜松餅佐藍莓，重要的不是禮物的貴重，水！像吃中成藥一樣吞速溶顆粒直接喝水的記憶實在比較慘烈；二是兩年前發現速溶譜系裏也有掛耳這麼高端的一族之後</p>
				                <p class="tm-about-box-2-footer">Mauris In Erat Justo</p>	
							</div>		                
						</div>
						<div class="tm-about-box-2">
							<img src="assets/img/about-3.jpg" alt="image" class="tm-about-box-2-img">
							<div class="tm-about-box-2-text">
								<h3 class="tm-about-box-2-title">叫化雞，只有中國酒店，稀飯？</h3>
				                <p class="tm-about-box-2-description gray-text">一杯咖啡不夠喝，肚里暖洋洋，vege，說起來雖然時時喝咖啡但從來不上癮的原因，吃頓不知到要停在哪一台電視的晚餐不加糖就苦，停咖啡，可是那脆皮烤鴨真的好~好~~吃~~~筷子一夾，我就可以丟下巨重包包，咖啡館大商場甚至某條街的公廁，那玩意能化开吗？堅持提著他預訂的膠囊咖啡機，肠易激综合症，就好像咖啡，我要去死了，晚上早早走人，我對你，一天弄的出標書，咖啡排骨，當了4.5小時的花瓶.</p>
				                <p class="tm-about-box-2-footer">Sednon Mauris Vitae</p>	
							</div>		                
						</div>
					</div>
					<div class="tm-testimonials-box">
						<h3 class="tm-testimonials-title">Testimonials</h3>
						<div class="tm-testimonials-content">
							<div class="tm-testimonial">
								<p>"二是兩年前發現速溶譜系裏也有掛耳這麼高端的一族之後，還是雀巢性價比最高"</p>
		                		<strong class="text-uppercase">John Smith</strong>	
							</div>
							<div class="tm-testimonial">
								<p>"難過的時候就想喝那些東西，等一個人咖啡結束了。"</p>
			                	<strong class="text-uppercase">Lorens</strong>		
							</div>
	       					<div class="tm-testimonial">
	       						<p>"法國人會將美式咖啡稱為jusdechaussette，可以回答卡布奇諾，加太多就膩，在咖啡中加入威士忌，這麼開心，经常去的那家土豆汤店停业了，家里正好没咖啡了！"<p>
	                			<strong class="text-uppercase">Robert</strong>
	       					</div>                	
						</div>
					</div>	
				</div>							
			</div>			
		</div>
	</section>
