	<!-- Banner -->
	<section class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-404">
		  <ul class="slides">
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title" [innerHTML]="'404.title' | translate"></h1>
					<p class="tm-banner-subtitle" [innerHTML]="'404.subtitle' | translate"></p>
					<a  routerLink="/" class="tm-banner-link" [innerHTML]="'404.goHome' | translate"></a>	
				</div>
				<img src="assets/img/banner-1.jpg" alt="Image" />	
		    </li>
		  </ul>
		</div>	
	</section>