	<!-- Banner -->
	<section class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
		  <ul class="slides">
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title" [innerHTML]="'banner.title1' | translate"></h1>
					<p class="tm-banner-subtitle" [innerHTML]="'banner.subtitle1' | translate"></p>
					<a href="#more" class="tm-banner-link" [innerHTML]="'banner.more' | translate"></a>	
				</div>
				<img src="assets/img/banner-1.jpg" alt="Image" />	
		    </li>
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title" [innerHTML]="'banner.title2' | translate"></h1>
					<p class="tm-banner-subtitle" [innerHTML]="'banner.subtitle2' | translate"></p>
					<a href="#more" class="tm-banner-link" [innerHTML]="'banner.more' | translate"></a>	
				</div>
		      <img src="assets/img/banner-2.jpg" alt="Image" />
		    </li>
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title" [innerHTML]="'banner.title3' | translate"></h1>
					<p class="tm-banner-subtitle" [innerHTML]="'banner.subtitle3' | translate"></p>
					<a href="#more" class="tm-banner-link" [innerHTML]="'banner.more' | translate"></a>	
				</div>
		      <img src="assets/img/banner-3.jpg" alt="Image" />
		    </li>
		  </ul>
		</div>	
	</section>