<!-- Header -->
<div class="tm-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
        <a href="#" class="tm-site-name" i18n="title of website|the name of this website">
          {{ 'SYS.TITLE' | translate }}
        </a>	
      </div>
      <div class="col-lg-6 col-md-8 col-sm-9">
        <div class="mobile-menu-icon">
              <i class="fa fa-bars"></i>
            </div>
        <nav class="tm-nav">
        <ul>
          <li><a href="index.html" class="active">{{ 'NAVIGATOR.HOME' | translate }}</a></li>
          <li><a href="about.html">{{ 'NAVIGATOR.ABOUT' | translate }}</a></li>
          <li><a href="tours.html">{{ 'NAVIGATOR.TOURS' | translate }}</a></li>
          <li><a href="contact.html">{{ 'NAVIGATOR.CONTACT' | translate }}</a></li>
        </ul>
      </nav>		
      </div>				
    </div>
  </div>	  	
</div>

