<!-- Header -->
<div class="tm-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
        <a routerLink="/" class="tm-site-name" i18n="title of website|the name of this website">
          {{ 'sys.title' | translate }}
        </a>	
      </div>
      <div class="col-lg-6 col-md-8 col-sm-9">
        <div class="mobile-menu-icon">
              <i class="fa fa-bars"></i>
            </div>
        <nav class="tm-nav">
        <ul>
          <li><a routerLink="/home">{{ 'navigator.home' | translate }}</a></li>
          <li><a routerLink="/about">{{ 'navigator.about' | translate }}</a></li>
          <li><a routerLink="/tours">{{ 'navigator.tours' | translate }}</a></li>
          <li><a routerLink="/contact">{{ 'navigator.contact' | translate }}</a></li>
        </ul>
      </nav>		
      </div>				
    </div>
  </div>	  	
</div>

